@use 'theme';
@use 'sass:color';
@use "sass:map";

@mixin btn($colorName, $bgColorName, $borderColorName) {
  $color: map.get(theme.$colors, $colorName);
  $bgColor: map.get(theme.$colors, $bgColorName);
  $borderColor: map.get(theme.$colors, $borderColorName);
  $focusColor: color.adjust($borderColor, $alpha: -0.8);

  color: $color;
  background-color: $bgColor;
  border-color: $borderColor;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2em $focusColor;
  }

  /* Hover State */
  &:hover:not([disabled]),
  &:hover:not([aria-disabled='true']) {
    color: $bgColor;
    background-color: $color;
  }

  &[aria-pressed='true'] {
    box-shadow: 0 0 0 0.4em $focusColor;
  }
}

.z-btn {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  height: map.get(theme.$sizes, 'height');
  position: relative;
  // font-size: 12px;
  // font-weight: 600;
  // letter-spacing: 0.05em;
  // text-transform: uppercase;
  border: 2px solid;
  user-select: none;
  text-decoration: none;
  padding: 0 1.5rem;
  border-radius: map.get(theme.$sizes, 'radius');
  box-shadow: map.get(theme.$shadows, 'normal');

  @include btn('main', 'white', 'main');

  /* Disabled State */
  &[disabled],
  &[aria-disabled='true'] {
    opacity: 0.5;
  }
}

.z-btn.primary {
  @include btn($colorName: 'white', $bgColorName: 'primary', $borderColorName: 'primary');
}

.z-btn.success {
  @include btn($colorName: 'white', $bgColorName: 'success', $borderColorName: 'success');
}

.z-btn.danger {
  @include btn($colorName: 'white', $bgColorName: 'danger', $borderColorName: 'danger');
}

.z-btn.loading {
  position: relative;
  cursor: default;
  text-shadow: none;
  color: transparent;
  opacity: 1;
  pointer-events: none;
  transition: all 0s linear, opacity 0.1s ease;
}

.z-btn.loading:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 500rem;
  border: 0.2em solid rgba(255, 255, 255, 0.15);
}

.z-btn.loading:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  animation: button-spin 0.6s linear;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: white transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
}

@keyframes button-spin {
  from {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}