@use 'theme';
@use "sass:map";

.z-dialog {
  background-color: map.get(theme.$colors, 'white');
  border: 2px solid map.get(theme.$colors, 'main');
  border-radius: map.get(theme.$sizes, 'radius');
  box-shadow: map.get(theme.$shadows, 'normal');
}

.z-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
